// Specific CSS for your home-page
.main-img img{
  width: 100%;
  height: auto;
  z-index: -1;
}
.most-hype-card{
  margin-top: 20px;
  text-align: center;
  margin-bottom: 52px;

  h2{
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 36px;
    line-height: 60px;
  }

  p{
    font-size: 18px;
  }
}
.up-coming{
  background-color: #DEDEDE;
  height: 600px;

  h2{
    margin: 30px;
    padding-top: 30px;
    font-weight: 600;
    font-size: 36px;
    line-height: 60px;
  }

  p{
    font-size: 18px;
  }
}
.upcoming-card {
  border-radius: 4px;
  width: 320px;
  height: 400px;
  background-color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 0;
  margin: 0 20px;
  h5 {
    margin-top: 40px;
    text-align: center;
  }
}
.view-all-link{
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  padding-right: 40px;
  color: #667080;
  opacity: 0.8;
  font-size: 16px;
  &:hover{
    color: #667080;
    opacity: 1;
  }
}
.upcoming-card-image {
  background-position: center;
  background-size: cover;
  border-radius: 8px 8px 0 0;
  height: 200px;
  display: flex;
  justify-content: space-between;
}

.upcoming-card-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  position: absolute;
  bottom: 0.3em;
  color: rgba(164, 158, 158, 0.5);
  p {
    margin-bottom: 0;
  }
  i {
    margin-left: 8px;
    font-size: 20px;
  }
}

.upcoming-card-logo {
  position: relative;
  height: 4vh;
  left: 1vh;
  top: 1vh;
}

.upcoming-card-date {
  position: relative;
  right: 2vh;
  top: 1.5vh;
  padding-bottom: 20px;
  color: rgba(164, 158, 158, 1);
  font-size: 2vh;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}
.signup-banner {
  background-color: $third-color;
  color: black!important;
  font-size: 22px;
  text-decoration: none;
  border-radius: 6%;
  padding: 15px 30px;
  margin-top: 40px;
  margin-left: 10px;
  transition: transform .2s;
  &:hover{
    transform: scale(1.1);
  }
}

.up-coming a{
  text-decoration: none;
  h5{
    color: black;
  }
}
