// Import page-specific CSS files here.
@import "home";
@import "show";
@import "wishlist";
@import "devise";
@import "login";

.index-pagination {
  display: flex;
  justify-content: center;
  nav {
    text-align: center;
    padding: 2em 0;
    span {
      font-size: 0.9em;
      margin: 0 0.3em;
      a {
        color: $pagination-color;
        text-decoration: none;
        margin: 16px 4px;
      }
    }
    .page {
      a {
        border: 2px solid $pagination-border;
        border-radius: $border-radius;
        padding: 5px 5px 5px 5px;
        text-decoration: none;

        &:hover {
          background: $pagination-border;
        }
      }
    }
    &.current {
      color: $pagination-color;
    }
  }
}
