<h5>Brand</h5>
<div class="index-filter-brands">
  <span>Nike</span>
  <span>Air Jordan</span>
  <span>Adidas</span>
  <span>New Balance</span>
  <span>Reebok</span>
</div>
<h5>Size</h5>
<div class="index-filter-size">
  <% @prices.group(:size).count.keys.each do |i|  %>
    <span><%= i %></span>
  <% end %>
</div>
<p>blo</p>
