<div class="footer">
  <div>
    <h3>Daily Sneakers</h3>
  </div>
  <hr>
  <div class="container d-flex justify-content-between align-self-end">
    <div class="footer-copyright">
      © 2022 DailySneakers. All rights reserved - made with <i class="fas fa-heart"></i> at Le Wagon
    </div>
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
</div>
