<div class="index-card col-3">
  <div class="index-card-image">
    <img src="https://upload.wikimedia.org/wikipedia/fr/3/37/Jumpman_logo.svg" alt="" class="index-card-logo">
    <div class="index-card-date">28.01</div>
  </div>
  <div class="index-card-block">
    <h5>Nike SB Dunk Low Cow</h5>
    <div class="index-card-bottom">
      <p class="index-card-price">90.00$</p>
      <div class="index-card-shared">
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-share-nodes"></i>
      </div>
    </div>
  </div>
</div>
