<div class="index-card col-3">
  <div class="index-card-image" style="background-image: url('<%= sneaker.imgurl %>');">
  <% case sneaker.brand.downcase %>
  <% when 'nike' %>
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Logo_NIKE.svg" alt="" class="index-card-logo">
  <% when 'adidas' %>
    <img src="https://upload.wikimedia.org/wikipedia/commons/2/20/Adidas_Logo.svg" alt="" class="index-card-logo">
  <% when 'air jordan' %>
    <img src="https://upload.wikimedia.org/wikipedia/fr/3/37/Jumpman_logo.svg" alt="" class="index-card-logo">
  <% when 'new balance' %>
    <img src="https://upload.wikimedia.org/wikipedia/commons/e/ea/New_Balance_logo.svg" alt="" class="index-card-logo">
  <% when 'reebok' %>
    <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Reebok_2019_logo.svg" alt="" class="index-card-logo">
  <% else %>
    <img src="" alt="" class="index-card-logo"> %>
  <% end %>
    <div class="index-card-date"><%= sneaker.release %></div>
  </div>
  <div class="index-card-block">
    <h5><%= "#{sneaker.brand} #{sneaker.model}" %></h5>
    <div class="index-card-bottom">
      <p class="index-card-price"><%= Price.where(sneakers_id: sneaker.id).map { |i| i.price.to_i }.min { |a, b| a<=>b} %>$</p>
      <div class="index-card-shared">
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-share-nodes"></i>
      </div>
    </div>
  </div>
</div>
