<div class="select-menu">
  <div class="select-btn">
    <span class="sBtn-text">Change size</span>
    <i class="bx bx-chevron-down"></i>
  </div>
  <ul class="options">
    <% hash.each do |k, v| %>
      <li class="option">
        <span class="option-text"><%= "US#{k}  #{v}€" %></span>
      </li>
    <% end %>
  </ul>
</div>
