.index-filter-brands {
  span {
    padding: 8px 10px;
    background-color: rgba(238, 241, 244, 1);
    border-radius: 2px;
    margin-left: 2vh;
    filter: drop-shadow(0px 2px 2px rgba(124, 123, 123, 0.2));
    cursor: pointer;
  }
  span.active {
    background-color: $third-color;
  }
}

.index-filter-sellers {
  span {
    padding: 8px 10px;
    cursor: pointer;
    background-color: rgba(238, 241, 244, 1);
    border-radius: 0.5vh;
    margin-left: 2vh;
    filter: drop-shadow(0px 2px 2px rgba(124, 123, 123, 0.2));
  }
  span.active {
    background-color: $third-color;
  }
}

.index-filter {
  margin-top: 1em;
  border-top: 0.03em solid rgba(0, 0, 0, 0.25);
  border-bottom: 0.03em solid rgba(0, 0, 0, 0.25);
}

.index-filter-sizes {
  span {
    padding: 1vh 2vh;
    background-color: rgba(238, 241, 244, 1);
    border-radius: 0.5vh;
    margin: 5vh 2vh;
    filter: drop-shadow(0px 2px 2px rgba(124, 123, 123, 0.2));
  }
  span.active {
    background-color: rgb(143, 143, 143);
  }
}

h5 {
  margin-top: 2vh;
}

.index-filter-prices {
  display: flex;
  height: 14vh;
  input {
    box-shadow: 0;
    outline: 0;
  }
  i {
    position: relative;
    right: 5vh;
  }
  .range-slider {
    width: 30vh;
    margin-left: 2vh;
    text-align: center;
    position: relative;
    height: 6vh;
  }
  .range-slider input[type=range] {
    position: absolute;
    left: 0;
    top: 8vh;
  }
  input[type=number] {
    text-align: center;
    font-size: 16px;
    border: none;
  }
  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: $third-color;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: rgba(107, 78, 255, 1);
  }
  input[type=range]:focus::-ms-fill-upper {
    background: rgba(107, 78, 255, 1);
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: $third-color;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
  }
  input[type=range]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid black;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: rgba(227, 229, 229, 1);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: rgba(107, 78, 255, 1);
    border-radius: 1px;
    box-shadow: none;
    border: 0;
  }
  input[type=range]::-moz-range-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid rgba(107, 78, 255, 1);
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: rgba(227, 229, 229, 1);
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower,
  input[type=range]::-ms-fill-upper {
    background: rgba(107, 78, 255, 1);
    border-radius: 1px;
    box-shadow: none;
    border: 0;
  }
  input[type=range]::-ms-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid rgba(107, 78, 255, 1);
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: rgba(227, 229, 229, 1);
    cursor: pointer;
  }
}
.apply-filter-btn {
  background-color: $third-color;
  color: black!important;
  font-size: 18px;
  text-decoration: none;
  border-radius: 6%;
  border: none;
  padding: 10px 20px;
  transition: transform .2s;
  &:hover{
    transform: scale(1.1);
  }
}

.pillules {
  padding: 8px;
  background-color: rgba(238, 241, 244, 1);
  border-radius: 2px;
  filter: drop-shadow(0px 2px 2px rgba(124, 123, 123, 0.2));
  margin-right: 16px;
}
