.index-card {
  border-radius: 8px;
  background-color: white;
  width: 320px;
  margin: 20px auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 0;
  h5 {
    a {
      text-decoration: none;
      color: black;
    }
    margin-top: 40px;
    text-align: center;
  }
  a {
    text-decoration: none;
  }
}

.index-card-image {
  background-position: center;
  background-size: cover;
  border-radius: 8px 8px 0 0;
  height: 250px;
  display: flex;
  justify-content: space-between;
}

.index-card-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  position: absolute;
  bottom: 0.3em;
  color: rgba(164, 158, 158, 0.7);
  p {
    margin-bottom: 0;
  }
  i {
    margin-left: 8px;
  }
}

.index-card-logo {
  position: relative;
  height: 28px;
  left: 8px;
  top: 8px;
}

.index-card-date {
  position: relative;
  right: 16px;
  top: 12px;
  color: rgba(164, 158, 158, 1);
  font-size: 16px;
}

.index-head {
  display: flex;
  justify-content: space-between;
  button {
    /* White */
    background: #FFFFFF;
    /* Gray/300 */
    border: 1px solid #D0D5DD;
    /* Shadow/xs */
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding: 0 16px;
    i {
      margin-right: 16px;
    }
  }
}

.index-card-block {
  height: 110px;
}

.index-card-shared{
  .fa-heart{
    &:hover{
      color: red;
    }
  }

  .fa-share-nodes{
    &:hover{
      color: $third-color;
    }
  }
}