<section data-controller="filter">
  <div class="index-head">
    <h3>Result for... </h3>
    <button data-action="click->filter#revealContent"><i class="fa-solid fa-filter"></i>Filter</button>
  </div>
  <div class="index-filter d-none" data-filter-target="content">
    <%= render 'shared/filter' %>
  </div>
</section>
<section class="row">
  <% @sneakers.each do |sneaker| %>
    <%= render 'shared/indexcard', sneaker: sneaker %>
  <% end %>
</section>
